@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: rgb(124, 93, 250);
    --primary_hover: rgb(146, 119, 255);
    --dark_primary: rgb(30, 33, 57);
    --dark_primary_hover: rgb(37, 41, 69);

    --secondary_light: rgb(233, 227, 250);
    --secondary_dark: rgb(136, 142, 176);
    --secondary_light_hover: rgb(126, 136, 195);
    --secondary_black: rgb(12, 14, 22);

    --danger: rgb(236, 87, 87);
    --danger_hover: rgb(255, 151, 151);

    --background_light: rgb(248, 248, 251);
    --background_dark: rgb(20, 22, 37);
    --white: #ffffff;

    --font-monospace: 'PT Mono', monospace;
}
